#wall {
    width: 100%;
    height: auto;
}

h3 {
    font-weight: bold;
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    font-size: 3vw;
 } 
 
 h3 span { 
     background:#fff; 
     padding:0 10px; 
 }

 .grid-item {
    margin-top: 4vw;
 }

 .container {
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-flow: wrap;
 }

 .box {
     width: 30%;
     height: 200px;
     box-sizing: border-box;
     margin-bottom: 20px;
     border-radius: 10px;
     background-color: black;
     color: white;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
 }

 .box:hover {
     background-color: #af1323;
 }

 /*responsive cua cai box*/
 @media screen and (min-width:1600px) {
    h3 {
        font-size: 40px;
    }
     .box{
        width: 40%;
     }
 }

 @media screen and (max-width:999px) {
    h3 {
        font-size: 20px;
    }
    .box{
        width: 90%;
    }
}

#cardicon {
    width: auto;
    height: 150px;
    margin: 10px;
}

.container-fluid{
    margin-top: 30px;
    background-color: black;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }