<body>
    <img id="wall" src="assets/imgs/wall.png">
    <div class="grid-container">
        <div class="grid-item0">
            <div class="container">
                <h3>ĐỐI TƯỢNG PHỤC VỤ CỦA CHÚNG TÔI</h3>
                <p>. . . . . . . . . . .</p>
            </div>
            <div class="intro">
                <p>Chúng tôi chuyên hỗ trợ dịch vụ cho thuê căn hộ dành cho sinh viên hay gia đình</p>
            </div>
        </div>
        <div class="grid-item0">
            <div class="container">
                <div class="box">
                    <img id="cardicon" src="assets/imgs/stu.png">
                    <p>CĂN HỘ SINH VIÊN</p>
                </div>
                <div class="box">
                    <img id="cardicon" src="assets/imgs/fam.png">
                    <p>CĂN HỘ GIA ĐÌNH</p>
                </div>
            </div>
        </div>
        <div class="grid-item1">
            <div class="row">
                <div class="col-6">
                    <div class="container" id="secondcontainer">
                        <h3>DỊCH VỤ CỦA CHÚNG TÔI</h3>
                        <p>. . . . . . . . . . .<br/>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non vel voluptates architecto blanditiis debitis, explicabo in doloribus earum molestiae? Voluptatum fuga a ex incidunt placeat laudantium, repellendus aspernatur amet minus?
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <img id="secondwall" src="assets/imgs/2ndwall.png">
                </div>
            </div>
        </div>
    </div> 
</body>