<body>
    <img id="wall" src="assets/imgs/wall.png">
    <div class="grid-container">
        <div class="grid-item">
            <div class="container">
                <h3><span>DỊCH VỤ</span></h3>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <div class="box">
                    <img id="cardicon" src="assets/imgs/emp.png">
                    <p>Employees</p>
                </div>
                <div class="box">
                    <img id="cardicon" src="assets/imgs/ship.png">
                    <p>Ships</p>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <h3><span>GUIDES</span></h3>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <div class="box">
                    <img id="cardicon" src="assets/imgs/gear.png">
                    <p>Gears</p>
                </div>
                <div class="box">
                    <img id="cardicon" src="assets/imgs/stage.png">
                    <p>Stages</p>
                </div>
                <div class="box">
                    <img id="cardicon" src="assets/imgs/skin.png">
                    <p>Skins</p>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <h3><span>OTHER</span></h3>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <div class="box">
                    <img id="cardicon" src="assets/imgs/chloe.png">
                    <p>Chloe - Horny:Side</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="column">
                    <h2>jojo</h2>
                </div>
                <div class="column">
                    <h2>nooooooooo</h2>
                </div>
            </div>
        </div>
    </div> 
</body>