<body>
    <img id="wall" src="assets/imgs/wall.png">
    <div class="grid-container">
        <div class="grid-item">
            <div class="container">
                <h3><span>DỊCH VỤ CỦA CHÚNG TÔI</span></h3>
            </div>
        </div>
        <div class="grid-item">
            <div class="intro">
                <p>Chúng tôi chuyên hỗ trợ dịch vụ cho thuê căn hộ đối với sinh viên và gia đình,
                tự hào về độ uy tín cũng như chất lượng những căn hộ cho thuê</p>
            </div>
        </div>
        <div class="grid-item">
            <div class="container">
                <div class="box">
                    <img id="cardicon" src="assets/imgs/stu.png">
                    <p>CĂN HỘ SINH VIÊN</p>
                </div>
                <div class="box">
                    <img id="cardicon" src="assets/imgs/fam.png">
                    <p>CĂN HỘ GIA ĐÌNH</p>
                </div>
            </div>
        </div>
    </div> 
</body>