body {
    background-color: #ffffff;
} 

.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom: 3vw;
	right: 3vw;
	background-color:#1ddc58;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float:hover{
    background-color: #373d4b;
}

.my-float{
    margin-top: 8px;
    width: 35px;
    height: 35px;
	position: relative;
}